<center><h1>Bienvenido al Portal de Registro de Citas</h1></center>
<center><p>"En este portal podra registrar su solicitud de citas medicas.</p></center>
<center><p>Gracias por visitarnos".</p></center>

<%= link_to 'Mis Citas', :controller => "cupos" %>


